body {
    background-image: url('https://00batarong.neocities.org/istockphoto-1134903871-640_adpp_is.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffcc00;
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
}